@import "./_typography.less";
@import "./_variables.less";

*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(@pureWhite);
  font-family: 'Plus Jakarta Sans';
  font-weight: 200;
  max-width: 100%;
  overflow-x: hidden;

}

.hero-div {
  background: url("../assets/image-hero-desktop.png");
  background-repeat: no-repeat;
  background-position: 228px -180px;
  background-size: auto 950px;
  height: 937px;
  width: 932px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;

  @media(max-width: 1124px) {
    background-position: 100px -100px;
    background-size: auto 750px;
    height: 641px;
    width: 640px;
  }

}

.btn {
  border: 0;
  border-radius: 28px;
  color: white;
  font-size: @fs_body_m;
  font-weight: @fw_bold;
  padding: .8rem 2.5rem;
}

.btn-black {
  background-color: hsl(@dark);
}

.btn-red {
  background: 
    linear-gradient(180deg, hsl(@linear-f1-color2) 0%, hsl(@linear-f1-color1) 100%);
}

.btn-purple {
  background: 
    linear-gradient(180deg, hsl(@linear-f2-color1) 0%, hsl(@linear-f2-color2) 100%);
}

.btn-transparent {
  color: hsl(@pureRed);
  background-color: hsl(@pureWhite);
}

.grid {
  display: grid;
  gap: 100px 30px;
  grid-template-columns: repeat(3, 1fr);
  height: 748px;
  width: 1110px;
  margin: auto;
  padding-bottom: 10rem;

  @media(max-width: 1450px) {
    grid-template-columns: repeat(2, 1fr);
    height: 1000px;
    width: 770px;
    padding-bottom: 25rem;
  }


  .grid-item {
    background-color: hsl(@pureWhite);
    border-radius: 15px;
    box-shadow: 0px 25px 50px 0px rgba(6, 22, 141, 0.04);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 322px;
    width: 350px;
    padding: 1rem;
    text-align: start;

    
    >* {
      padding: 0;
      flex: .25;
      text-align: start;
    }

    .icon {
      margin-bottom: 360px;
      position: absolute;
    }

    .title {
      color: hsl(@dark);
      font-size: @fs_heading_s;
      font-weight: 800;
    }

    .description {
      color: hsl(@gray);
      font-size: @fs_body_m;
      font-weight: 500;
      line-height: @line_height_base;
    }
  }

  .grid-item-one {
    background: 
      linear-gradient(180deg, hsl(@linear-f1-color2) 0%, hsl(@linear-f1-color1) 100%);

    .title {
      color: hsl(@pureWhite);
      font-size: @fs_heading_m;
      font-weight: 800;
      line-height: @line_height_m;
    }
  }

}

.app__header {
  display: flex;
  justify-content: space-between;
  padding: 3rem 15rem 3rem 10rem;

}

.app__main {
  margin-top: 8rem;
  .app__related-info {
    margin-left: 10rem;
    margin-bottom: 8rem;
    height: 359px;
    width: 457px;

    >* {
      margin: .8rem 0;
    }

    .app__title {
      font-size: @fs_heading_xl;
      font-weight: @fw_bold;
      line-height: @line_height_xl;
    }

    .app__description {
      font-size: @fs_body_m;
      font-weight: @fw_medium;
      line-height: @line_height_base;
    }
  }

  .app__courses {
    width: 100%;
    background: linear-gradient(180deg, #FFF 0%, #F0F1FF 100%);
  }
}

.app__footer {
  background-color: hsl(@dark);
  display: flex;
  justify-content: space-between;
  padding: 3rem 15rem 3rem 10rem;
}

